@font-face {
    font-family: 'Amatic SC'; 
    src: url(../fonts/AmaticSC-Regular.ttf);
   }
   @font-face {
    font-family: 'Amatic SC Bold';
    src: url(../fonts/AmaticSC-Bold.ttf);
   }

body {
    background-color: #191818;
    margin: 0;
    padding: 0;
}

.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

 /* LOGO */

.logo {
    font-family: 'Amatic SC Bold', Palatino, Georgia, serif;
    font-size: 48px;
    width: 220px;
    color:white;
    letter-spacing: 5px;
    margin: 0 auto;
    margin-top: 30px;
}
.logo_link {
    cursor: pointer;
    text-decoration: none;
}

 /* SLIDER */

  .presentation {
      position: relative;
  }

  .slider {
      width: 250px;
      margin: 0 auto;
      margin-bottom: 50px;

  }

  .slide {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .slide_title {
      color: white;
      font-family: 'Amatic SC', Palatino, Georgia, serif;
      font-size: 32px;
  }

  /* PROMO SLIDE */

  .me_img {
      border-radius: 50%;
      margin-top: 40px;
      width: 128px;
      height: 128px;
  }

  .me_img:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

  .promo {
    color: white;
    font-family: 'Amatic SC', Palatino, Georgia, serif;
    font-size: 20px;
    width: 200px;
    text-align: center;
    letter-spacing: 2px;
  }

  /* SKILLS SLIDE */

  .skills_list {
      display: grid;
      grid-template-columns: repeat(2, 80px);
      grid-template-rows: repeat(4, 80px);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      list-style: none;
      padding-left: 0;
  }

  .skill_image {
      width: 72px;
      height: 72px;
      position: relative;
  }

  .skill_image:hover {
      transform: scale(1.2);
      transition-duration: 0.3s; 
  }

  .skill {
      position: relative;
  }
  .skill:hover::after {
      display: inline-block;
      width: 256px;
      position: absolute;
      color: white;
      font-size: 22px;
      padding: 10px;
      letter-spacing: 1px;
      font-family: 'Amatic SC', Palatino, Georgia, serif;
      border: 2px dashed white;
      border-radius: 20px;
  }
  /* .skill_html:hover::after {
    left: -200px;
    top: -180px;
    content: "HTML, I use specification, in some projects had to use preprocessor(pug). Also worked with BEM - component-based method";
  }
  .skill_css:hover::after {
    left: -250px;
    top: -200px;
    content: "CSS, I'm understand CSS-animation, use flex-box and CSS-grid for layout, media quaries for adaptivity, autoprefixer for cross-browser compatibility";
  }
  .skill_js:hover::after {
    right: -250px;;
    top: -200px;
    content: "JavaScript, I can interact with DOM by JS and make not complicated scripts and functions. Learn it intesively"
  }
  .skill_photoshop:hover::after {
    right: -200px;
    top: -180px;
    content: "PhotoShop, I work mostly with PSD-layouts, can cut pics all formates from it and get all information about scales, fonts, colors etc.  ";
  }
  .skill_svg:hover::after {
    left: -150px;
    bottom: -150px;
    content: "SVG, familiar with this format of images, can edit any of them and create";
  }
  .skill_sass:hover::after {
    bottom: -165px;
    left: -150px;
    content: "SASS, It's become handy in large projects to automatise some processes by mixins and variables. I used it in common with BEM"
  }
  .skill_git:hover::after {
    bottom: -165px;
    right: -150px;
    content: "Git, I can work with it in terminal or desktop client, know most of git commands, use GitHub and BitBucket" 
  }
  .skill_bootstrap:hover::after {
    width: 200px;
    bottom: -180px;
    left: 30px;
    content: "Bootstrap, I use it in small project or if pixel-perfect is not important, in other cases prefer pure CSS with flexbox or grid layout";
  } */

  /* EMPLOYEMET HISTORY SLIDE */

  .job {
    align-self: flex-start;
    color: white;
    font-family: 'Amatic SC', Palatino, Georgia, serif;
    text-align: left;
    position: relative;
    width: 250px;
  }
  .job::before {
      position: absolute;
      content: "";
      background-size: cover;
      border-radius: 50%;
      width: 90px;
      height: 90px;
  }
  .job_1::before {
      background-image: url(../img/job2.jpg);
      top: 30px;;
      left: 140px;

  }
  .job_2::before {
    background-image: url(../img/job1.jpg);
    top: 80px;
    left: 160px;
  }


    .job:hover::before {
        transform: scale(1.2);
        transition-duration: 1s;
    }

  .job {
      border-bottom: 2px dashed white;
      width: 230px;
  }
  

  .experience_slide .slide_title {
      margin-bottom: 0;
  }

  .experience_slide {
      width: 250px;
  }

  .job_1 {
      margin-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
  }

  .job_title {
      font-size: 30px;
  }

  .job_description,
  .job_terms {
      font-size: 20px;
  }
  .job_position {
    font-size: 25px;
    font-family: 'Amatic SC Bold', Palatino, Georgia, serif;
    letter-spacing: 1px;
  }

  .job_description {
      position: relative;
      letter-spacing: 1px;
      width: 250px;
  }

  .company_link {
    color: white;
  }

  /* PORTFOLIO SLIDE */

  .project {
      padding-left: 12px;
      position: relative;
  }

  .project_desktop {
      width: 230px;
      margin-bottom: 5px;
  }

  .project_desktop:hover,
  .project_tablet:hover,
  .project_mobile:hover {
      transform: scale(1.3);
  }

  .project_tablet {
      width: 130px;
      margin-top: -20px;
  }

  .project_mobile {
    width: 96px;
  }

  .project_link {
    text-decoration: none;
    font-family: 'Amatic SC', Palatino, Georgia, serif;
    color: white;
    font-size: 18px;
  }

  .project_title {
    font-family: 'Amatic SC Bold', Palatino, Georgia, serif;
    color: white;
    font-size: 25px;
    margin: 0;
  }

  .project_link:hover {
      color: gray;
  }

  /* CONTACTS SLIDE */

  .contacts_list {
      list-style: none;
      padding-left: 45px;
  }
  .contact {
    font-family: 'Amatic SC', Palatino, Georgia, serif;
    font-size: 22px;
    position: relative;
    margin-bottom: 40px;
  }
  .contact_link::before {
    position: absolute;
    content: "";
    background-size: cover;
    width: 32px;
    height: 32px;
    left: -40px;
  }
  .contact_link {
      text-decoration: none;
      color: white;
  }
  .contact_link:hover {
     color: lightgrey;
  }
  .contact:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }
  .telegram::before {
      background-image: url(../icons/tg.png);
  }
  .gmail::before {
      background-image: url(../icons/gmail.png);
  }
  .skype::before {
      background-image: url(../icons/skype.png);
  }
  .phone::before {
      background-image: url(../icons/phone.png);
  }

  /* SLIDER NAVIGATION */

  .slider_nav {
      position: absolute;
      top: 400px;
  }


  .slider_button {
      position: relative;
      background: none;
      outline: none;
      border: none;
  }

  .slider_button::before:hover {
    color: lightgray;
  }

  .slider_button::before {
      position: absolute;
      color: white;
      font-family: 'Amatic SC', Palatino, Georgia, serif;
      font-size: 80px;

  }

  .prev::before,
  .next::before {
    width: 45px;
    height: 45px;
  }

  .prev::before {
    content: "<";
    left: -40px;
    top: -150px;
  }

  .prev[disabled],
  .next[disabled] {
      opacity: 0.5;
  }

  .next::before {
      content: ">";
      right: -260px;
      top: -150px;
  }


 /* FOOTER */

  .social_networks {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 200px;
      height: 64px;
      margin: 0 auto;
      padding-left: 0;
  }


  .github,
  .vkontakte,
  .linkedin {
    position: relative;
  }
  .github::before,
  .vkontakte::before,
  .linkedin::before {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      left: -25px;;
      background-size: cover;
      
  }

  .github:hover,
  .linkedin:hover,
  .vkontakte:hover {
    opacity: 0.5;
}

  .github::before {
  background-image: url(../icons/GitHub.svg);
  }

  .linkedin::before {
      background-image: url(../icons/LinkedIn.svg);
  }

  .vkontakte::before {
      background-image: url(../icons/VK.svg);
  }


 /* CHANGE SLIDES */

 .hideMe {
    display: none;
  }

.showMe {
    display: flex;
  }

  /* MEDIA QUARIES */

 /* TABLET */

@media (min-width: 768px) {

    .main_header {
        margin-bottom: 100px;
    }

    .logo {
        margin: 50px 0 0 50px;
    }
    .slider {
        width: 500px;
    }

    .slide_title {
        font-size: 45px;
    }

    .next::before {
        content: ">";
        right: -550px;
        top: 0;
    }
    .prev::before {
        content: "<";
        left: -80px;
        top: 0;
    }

    .promo {
        font-size: 32px;
        width: initial;
    }

    .skills_list {
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(2, 100px);
    }

    .skill_image {
        width:90px;
        height: 90px;
    }

    .experience_slide,
    .job {
        width: 490px;
    }
    .job::before {
        width: 128px;
        height: 128px;
    }
    .job_1::before {
        top: 50px;
        left: 270px;
    }
    .job_2::before {
        top: 120px;
        left: 280px;
    }
    .job_title {
        font-size: 45px;
    }
    .job_terms {
        font-size: 25px;
    }
    .job_position {
        font-size: 38px;
    }
    .job_description {
        font-size: 28px;
        width: 420px;
    }

    .contacts_list {
        margin-top: 30px;
    }
    .contact_link {
        font-size: 32px;
    }
    .contact_link::before {
        width: 50px;
        height: 50px;
        left: -70px;
        top: -5px;
    }

    .project_desktop {
        width: 460px;
    }
    .project_tablet {
        width: 260px;
    }
    .project_mobile {
        width: 192px;
    }
    .project_title {
        font-size: 38px;
    }
    .project_link {
        font-size: 28px;
    }
}

 /* DESKTOP */
 
  @media (min-width: 1200px) {

 }