@font-face {
    font-family: 'Amatic SC'; 
    src: url(../fonts/AmaticSC-Regular.ttf);
   }
   @font-face {
    font-family: 'Amatic SC Bold';
    src: url(../fonts/AmaticSC-Bold.ttf);
   }

body {
    background-color: #191818;
    margin: 0;
    padding: 0;
}

.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

 /* LOGO */

.logo {
    margin-left: 50px;
    font-family: 'Amatic SC Bold', 'Arial';
    font-size: 55px;
    color:white;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 0;
}

.logo_link {
    cursor: pointer;
    text-decoration: none;
}

 /* SLIDER */

  .presentation {
      position: relative;
  }

  .slider {
      height: 500px;
      width: 500px;
      margin: 0 auto;
      padding: 50px;
  }

  .slide {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .slide_title {
      color: white;
      font-family: 'Amatic SC', cursive;
      font-size: 64px;
  }

  .me_img {
      border-radius: 50%;
      margin-top: 40px;
  }

  .promo {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    text-align: center;
    letter-spacing: 2px;
  }

  .skills_list {
      display: grid;
      grid-template-columns: repeat(4, 130px);
      grid-template-rows: repeat(2, 130px);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      list-style: none;
      padding-left: 0;
  }

  .skills_item {
      position: relative;
      background-size: cover;
  }
  .skills_item::before {
      position: absolute;
      width: 128px;
      height: 128px;
      content: "";
      background-size: cover;
  }

  .skill_html::before {
    background-image: url(../icons/html.png);
  }
  .skill_css::before {
    background-image: url(../icons/css.png);
  }
  .skill_js::before {
    background-image: url(../icons/javascript.png);
  }
  .skill_git::before {
    background-image: url(../icons/git.png);
  }
  .skill_sass::before {
    background-image: url(../icons/sass.png);
  }
  .skill_svg::before {
    background-image: url(../icons/svg-flat.png);    
  }
  .skill_ps::before {
    background-image: url(../icons/photoshop.png);
  }
  .skill_bootstrap::before {
    background-image: url(../icons/TwitterBootstrap.png);
  }

  .skills_item:hover {
      transform: scale(1.2);
      transition-duration: 0.3s; 
  }


  .contacts_list {
      list-style: none;
      padding-left: 0;
  }
  .contact {
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    position: relative;
  }
  .contact_link::before {
    position: absolute;
    content: "";
    background-size: cover;
    width: 64px;
    height: 64px;
    left: -80px;
    top: -10px;
  }
  .contact_link {
      text-decoration: none;
      color: white;
  }
  .contact_link:hover {
     color: lightgrey;
  }
  .telegram::before {
      background-image: url(../icons/tg.png);
  }


  /* SLIDER NAVIGATION */

  .slider_nav {
      position: absolute;
      top: 400px;
  }


  .slider_button {
      position: relative;
      background: none;
      outline: none;
      border: none;
  }

  .slider_button::before:hover {
    color: lightgray;
  }

  .slider_button::before {
      position: absolute;
      color: white;
      font-family: 'Amatic SC', cursive;
      font-size: 100px;

  }

  .prev:before {
    content: "<";
    left: -150px;
  }

  .prev[disabled],
  .next[disabled] {
      opacity: 0.5;
  }

  .next:before {
      content: ">";
      right: -630px;
  }


 /* FOOTER */

  .social_networks {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 200px;
      height: 64px;
      margin: 0 auto;
      margin-top: 80px;
      padding-left: 0;
  }


  .github,
  .vkontakte,
  .linkedin {
    position: relative;
  }
  .github::before,
  .vkontakte::before,
  .linkedin::before {
      position: absolute;
      content: '';
      width: 50px;
      height: 50px;
      left: -25px;;
      background-size: cover;
      
  }

  .github:hover,
  .linkedin:hover,
  .vkontakte:hover {
    opacity: 0.5;
}

  .github::before {
  background-image: url(../icons/GitHub.svg);
  }

  .linkedin::before {
      background-image: url(../icons/LinkedIn.svg);
  }

  .vkontakte::before {
      background-image: url(../icons/VK.svg);
  }


  @media (min-width: 1400px ) {
    .slider {
      width: 800px;
    }

    .next:before {
        right: -920px;
    }
}


 /* CHANGE SLIDES */

 .hideMe {
    display: none;
  }

.showMe {
    display: flex;
  }